{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/base.css' %}">
</head>
<body>
    <header class="header">
        <div class="align">
            <div class="img-bg">
                <img src="{% static 'img/logo.png' %}" alt="My Blog" class="logo-img">
            </div>
            <div class="auth-buttons">
                <a href="#" class="btn btn-login">Sign In</a>
                <a href="#" class="btn btn-signup">Sign Up</a>
            </div>
        </div>
        
        <nav class="nav">
            <ul class="navbar">
                <li><a href="{% url 'blog:home' %}" class="active">Home</a></li>
                <li><a href="{% url 'blog:about' %}">About</a></li>
                <li><a href="{% url 'blog:contact' %}">Contact</a></li>
                <li><a href="#">Category</a></li>
            </ul>
        </nav>
        
        


    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>