
:root {
    --main-color: #948979;
    --background-color: #222831;
    --card-color: #393E46;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
      
}

body {
    background-image: url("../img/pawel-czerwinski-ROpTWGMYNkk-unsplash\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: var(--main-color);
}